p {
  margin: 0;
}
.container {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(255, 240, 203);
  color: #D7A200;
  .center {
    text-align: center;
    
  }
  
  .image35{
    width: 30%;
    box-align: right;
    vertical-align: top;
    padding: 0;
 
  }
  
/*   .link {
    background-color: rgb(255, 240, 203);
    font-family: BlacklightD, "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #d7a200;
    } */
  
/*     .link:visited{
      background-color: rgb(255, 240, 203);
      font-family: BlacklightD, "Times New Roman", Times, serif;
      font-size: 14px;
      font-weight: bold;
      color: #d7a200;
      } */
    
/*   .author {
    margin-top: 4px;
    font-size: small;
  } */

}