p {
  margin: 0;
}
.container {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(255, 240, 203);
  color: #D7A200;
  .center {
    text-align: center;
    
  }
  
  .image35{
    vertical-align: top;
    padding: 0;

    
  }
  
  .citeBox {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 5%;
    //width: 25%;
  }
  .author {
    margin-top: 4px;
    font-size: small;
  }

}