$headerHeight: 100px;
$footerHeight: 10%;
$footerHeightMax: 120px;

#page {
  height: 97%;
  max-height: 97%;
  width: 100%;
  position: relative;
}

#header_and_content {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 125px;
  width: 100%;
  overflow-y: auto;
  display: block;
}
#header {
  display: inline-block;
  width: 100%;
  // max-height: 120px;
  background-color: white;
  // background-color: rgb(255, 240, 203);
  //padding-right: 15px;
  // height: $headerHeight;
  line-height: normal;
  // height: 18%;
}
#header * {
  background-color: white;
}
#header img {
  width: 100%;
  height: auto;
}
#header .header_item {
  margin: auto;
  // overflow: hidden;
  // display: inline-block;
  // height: 100%;
}
#header hr {
  margin: 0;
}

#fixed_footer {
  line-height: normal;
  background-color: rgb(255, 240, 203);
  padding:0 5px 0 5px ;
  margin: 0 0 0 0;
  height: $footerHeight;
  max-height: $footerHeightMax;
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0px;
}
.footerImg {
  height: $footerHeight;
  max-height: $footerHeightMax;
}
#page_content {
  display: flex;
}
* {
    color: black;
    background-color: rgb(255, 240, 203);
    font-size: 17px;
    font-family: Georgia, "Times New Roman", Times, serif;
    // font-family: BlacklightD, "Times New Roman", Times, serif;
}
.container {
    // scroll-margin-left: 11;
    // scroll-behavior: smooth; 
    color: black;
    font-size: 18px;
    background-color: rgb(255, 240, 203);
    font-family: Georgia, "Times New Roman", Times, serif;
    max-height: 50%;
    // font-family: BlacklightD, "Times New Roman", Times, serif;
   // background-color: (255,240,203);
   padding-left: 25px;
}


.scroll {
  background-color: rgb(255, 240, 203);
  height: 60%;
  overflow: auto;
  width: 70%;
  border: 1px solid #000;
  padding: 10px;
  } 


.scrcontainer {
  max-height: 90%;
  scroll-margin-left: 10;
  scroll-behavior: smooth; 
  // color: black;
  font-size: 18px;
  background-color: rgb(255, 240, 203);
 font-family: Verdana, Arial, Helvetica, sans-serif;
// font-family: BlacklightD, "Times New Roman", Times, serif;
  max-height: 60%;
  overflow: scroll, clip;
 // background-color: (255,240,203);
}

a {
  color: #d7a200;
  background:  rgb(255, 240, 203);
  margin:unset ;
  // background-color: #2bad32;
}

menuitem{
  background:  rgb(255, 240, 203);
}


a::selection {
  color: #d7a200;
  // background:  rgb(255, 240, 203);
  }
 a:hover {
   color: #2bad32;
  }
p {
  margin: 0;
}

.ant-menu-root.ant-menu-vertical.menubackground{
  background:  rgb(255, 240, 203);
  padding:0,0,0,5px;
  width: 215px;
}


.ant-menu-vertical {
  .menubackground{
    color: rgb(255, 240, 203);
  }
  background:rgb(255, 240, 203);
  .ant-menu-submenu {
    font-family: Georgia, "Times New Roman", Times, serif, BlacklightD, sans-serif;
    // font-size: 10px;
    font-weight: bold;
    height: 40px;
    margin: 0;
    padding: 0,0,0,5px;
    background-color: rgb(255, 240, 203);
    background:  rgb(255, 240, 203);
    .link:visited{
        background-color: rgb(255, 240, 203);
        background:  rgb(255, 240, 203);
    }
    a:hover {
      color: #2bad32;
    }

    .ant-menu-submenu-title {
      margin: 0;
      padding: 0,0,0,5px;
    }  
  }

  .ant-menu-item {
    font-family: Georgia, "Times New Roman", Times, serif,BlacklightD, sans-serif;
    // font-size: 10px;
    font-weight: bold;
    height: 40px;
    margin: 0;
    // padding: 0,0,0,5px;
    background:  rgb(255, 240, 203);
    background-color: rgb(255, 240, 203);
    a:hover {
      color: #2bad32;
    }
   }
  .ant-menu-item-active {
    font-family: Georgia, "Times New Roman", Times, serif, BlacklightD, sans-serif;
    // font-size: 10px;
    font-weight: bold;
    color: black;
    // height: 40px;
    margin: 0;
    // padding: 0,0,0,5px;
    background:  rgb(255, 240, 203);
    background-color: rgb(255, 240, 203);
    a:hover {
      color: #2bad32;
    }
  }
  
  .ant-menu-item-selected {
    // height: 40px;
    color: green;
    margin: 0;
    background-color: rgb(255, 240, 203);
    background:  rgb(255, 240, 203);
    padding: 0,0,0,5px;
  }


  .ant-menu-item:not(:last-child) {
    // height: 40px;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif, BlacklightD, sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    background-color: rgb(255, 240, 203);
    background:  rgb(255, 240, 203);
    // padding: 0,0,0,5px;
    a:hover {
      color: #2bad32;
    }
  }
  .ant-menu-item:last-child {
    // height: 40px;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif, BlacklightD, sans-serif;
    // font-size: 10px;
    font-weight: bold;
    margin: 0;
    background-color: rgb(255, 240, 203);
    background:  rgb(255, 240, 203);
    // padding: 0,0,0,5px;
    a:hover {
      color: #2bad32;
    }
  }
  
}
.layout {
  font-family: Georgia, "Times New Roman", Times, serif, BlacklightD, sans-serif;
  color: #d7a200;
  padding: 0 5%;
}
.background {
  background-color: rgb(255, 240, 203);
  height: auto;
  //max-height:100%
}

.menubackground {
  background-color: rgb(255, 240, 203);
  background:  rgb(255, 240, 203);
  padding: 0;
  border: 0px;
  // font-size: 14px;
}
.menubackground:visited {
  color: #d7a200;
  background-color: rgb(255, 240, 203);
  background:  rgb(255, 240, 203);
  padding: 0;
  border: 0px;
}
.link {
  background-color: rgb(255, 240, 203);
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: #d7a200;
  }

  .link:visited{
    background-color: rgb(255, 240, 203);
    font-family:  Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #d7a200;
    }

  .linkklein {
  background-color: rgb(255, 240, 203);
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  // font-weight: bold;
  color: #d7a200;
  }
.header {
  //background-color: white;
  background-color: rgb(255, 240, 203);
  //padding-right: 15px;
  // height: $headerHeight;
  line-height: normal;
  // height: 18%;
}

.citeBox  {
  white-space: pre-wrap;
  font-size: 17px;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
  padding-right: 15%;
  width: 100%;
//  scroll-behavior: smooth;
//  scroll-margin: 3px; 
}
.citeBox1  {
  white-space: pre-wrap;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
  padding-right: 15%;
  width: 100%;
  font-family:  "Times New Roman", Times, serif;
  // font-weight: bold;
}


.citeBox::selection {
  background-color: #2bad32;
}
.titlegross {
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  color: #D7A200;
  width: 100%;
  margin: 30px 0 0 0;
  margin-left: 10px;
}

.title {
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.titlegrossleft {
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  // color: #D7A200;
  width: 100%;
  margin: 0 0 0 0;
}

.titleleft {
  font-family:  Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
}

.image {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  
}
.image70 {
  width: 65%;
}

.image35 {
  width: 30%;
  box-align: right;
  vertical-align: top;
  padding: 0;
  margin: 0 0px 30px 0;
}
.image351 {
  width: 20%;
  vertical-align: top;
  padding: 0;
}

.image20 {
  width: 20%;
  box-align: right;
  vertical-align: top;
  padding: 0;
}

.alignRight {
  text-align: right;
}

.colRight {
  box-align: right;
}

.text-center {
  text-align: center;
  color: #D7A200;
}

#root {
  height: 100%;
}
#subtitle {
  color: #d7a200;
  // font-weight: bold;
  font-size: 26;
}
#title {
  color: black;
  font-weight: bold;
}
#Logo {
  height: $headerHeight;
}
