$headerHeight: 100px;
$footerHeight: 220px;
.layout {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #D7A200;
    padding: 0 5%;
}
.background {
    background-color: rgb(255, 240, 203);
  }

  .menubackground {
    background-color: rgb(255, 240, 203);
    height: 40px;
    padding: 0;
  }

  .menubackground1 {
    background-color: rgb(255, 240, 203);
    max-height: 30px;
    padding: 0;
  }

.header{
    //background-color: white;
    background-color: rgb(255, 240, 203);
    //padding-right: 15px;
    // height: $headerHeight;
    line-height: normal;
    // height: 18%;
}

.image{
    width: 100%
}

.footer{
    height: $footerHeight;
    line-height: normal;
    padding: 5% 5px;
}

.footer2{
    height: $footerHeight;
    line-height: normal;
    background-color: rgb(255, 240, 203);
    padding-left: 12%;

}


.alignRight{
    text-align: right;
}

.colRight{
    box-align: right ;
}
#subtitle{
    color:#D7A200;
}
#title{
    color:black;
    font-weight: bold;
}
#Logo{
    height: $headerHeight;
}